@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

//all style css
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
    width: 100vw;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #d3d3d3; }
::-webkit-scrollbar-thumb { 
    background: #00836d; 
    border: 1px black solid; 
    border-radius: 100px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover { background: #555; }

.hiddenr{
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
    transition: transform 1s !important;
}
.hiddenl{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: transform 1s !important;
}
.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
    transition: transform 1s !important;
}


//change per theme
.light {
    color: rgb(0, 0, 0);
    transition: 100ms;

    .title{
        transition: color 500ms;
        background: linear-gradient(125deg, rgba(220, 255, 253, 0.1) 50%, rgb(255, 255, 255) 75%), url('image/angkaew-day.jpg') center center/cover;

        .bluebox{ background-color: #90E4FF; }
        .blueboxlight{ background-color: #BEEEF9; }
        .titlebluebottom1{ background-color: #e9fbff; }
        .titlebluebottom2{ background-color: #C0D6DB; }
        .titlebluebottom3{ background-color: #BEEEF9; }
        .titlebluebottom4{ background-color: #BCDCE3; }
        .titlegreenbottom1{ background-color: #91F0C3; }
        .titlegreenbottom2{ background-color: #5AD298; }
        .titlegreenbottom3{ background-color: #8BDBB5; }
        .titlegreenbottom4{ background-color: #81E77F; }
        .titlegreenbottom5{ background-color: #A0DB9F; }
        .titlegreenbottom6{ background-color: #31BE7B; }
        
        .titlegreenbottom7{ background-color: #5EC05C; }
        .titlegreenbottom8{ background-color: #75DE73; }
        .titlegreenbottom9{ background-color: #5BD375; }
        .titlegreenbottom10{ background-color: #40BE3E; }
        .titlegreenbottom11{ background-color: #49A700; }
        .titlegreenbottom12{ background-color: #006F2C; }
        .titlegreenbottom13{ background-color: #1D6F00; }
        .titlegreenbottom14{ background-color: #165300; }
        .titlegreenbottom15{ background-color: #3C8E1F; }

        * {
            transition: background 800ms;
        }
    }
    .title_bottom{
        background: linear-gradient(170deg, rgb(207, 249, 255) 40%, rgb(255, 228, 179) 60%);
        height: max-content;

        .fruitset{
            .fruit1{ background: linear-gradient(180deg, #BC2200 0%, #610000 100%); }
            .fruit5{ background: linear-gradient(180deg, #F9C200 0%, #E71818 100%); }
            .fruit3{ background: linear-gradient(180deg, #F9C200 0%, #E71818 100%); }
            .fruit4{ background: linear-gradient(180deg, #F92D00 0%, #9C0000 100%); }
            .fruit2{ background: linear-gradient(180deg, #F92D00 0%, #9C0000 100%); }
        }
    }
    .card-component{
        .modal-box{
            background-color: #fffcf3;
        }
    }
    .body{
        transition: 300ms;
        height: max-content;
    }
}

.dark {
    color: rgb(255, 255, 255);
    transition: 100ms;

    .title{
        transition: 300ms;
        background: linear-gradient(125deg, rgba(220, 255, 253, 0.1) 50%, rgb(0, 0, 0) 75%), url('image/angkaew-night.jpg') center center/cover;
        
        .bluebox{ background-color: #002e3d; }
        .blueboxlight{ background-color: #003b45; }
        .titlebluebottom1{ background-color: #1a2a2a; }
        .titlebluebottom2{ background-color: #021e24; }
        .titlebluebottom3{ background-color: #06161a; }
        .titlebluebottom4{ background-color: #012e38; }
        .titlegreenbottom1{ background-color: #002c2f; }
        .titlegreenbottom2{ background-color: #002f1b; }
        .titlegreenbottom3{ background-color: #00582f; }
        .titlegreenbottom4{ background-color: #012f00; }
        .titlegreenbottom5{ background-color: #174217; }
        .titlegreenbottom6{ background-color: #006d38; }

        .titlegreenbottom7{ background-color: #172517; }
        .titlegreenbottom8{ background-color: #079f04; }
        .titlegreenbottom9{ background-color: #314400; }
        .titlegreenbottom10{ background-color: #0e5c0d; }
        .titlegreenbottom11{ background-color: #49A700; }
        .titlegreenbottom12{ background-color: #006F2C; }
        .titlegreenbottom13{ background-color: #1D6F00; }
        .titlegreenbottom14{ background-color: #165300; }
        .titlegreenbottom15{ background-color: #3C8E1F; }

        * {
            transition: background 800ms;
        }
    }
    .title_bottom{
        background: linear-gradient(180deg, rgb(8, 0, 53) 0%, rgb(27, 0, 34) 100%);
        height: max-content;

        .fruitset{
            .fruit1{ background: linear-gradient(180deg, #6400a7 0%, #500091 100%); }
            .fruit5{ background: linear-gradient(180deg, #e415ff 0%, #6e23c4 100%); }
            .fruit3{ background: linear-gradient(180deg, #e415ff 0%, #6e23c4 100%); }
            .fruit4{ background: linear-gradient(180deg, #4b00f9 0%, #2f009c 100%); }
            .fruit2{ background: linear-gradient(180deg, #4b00f9 0%, #2f009c 100%); }
        }
    }
    .card-component{
        .modal-box{
            background-color: #1b0045;
        }
    }   
    .body{
        transition: 300ms;
        height: max-content;
    }
}
