   
.light {
    .test {
        width: 100px;
        height: 200px;

        background-color: yellow;
    }
}

.dark {
    .test {
        width: 100px;
        height: 200px;

        background-color: rgb(43, 0, 92);
    }
}
