.title{
    display: flex;
    flex-direction: column;
    align-items: end;

    .bluebox{
        transition: 500ms;
    }

    .blueboxlight{
        bottom: 50px;
        width: 180px;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img, h3{
            cursor: pointer;
        }

        img{
            height: 36px;
        }

        h3{
            font-weight: 500;
            margin: 0;
        }
    }

    .namebox{
        text-align: end;
        margin-right: 3vw;
        h1{
            font-size: clamp(40px, 6.6vw, 999px);
            letter-spacing: 2px;
        }
    }

    .bottomBox{
        margin-top: 10vw;
        width: 100vw;

        .boxbottom{
            position: relative;
        }
        
    }
}

.title_bottom{
    display: flex;
    flex-direction: column;
    align-items: end;

    .stalk{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 106vw;

        .absolute{
            position: relative;
            top: 48vw;
            height: 0;
            z-index: 1;

            * {
                position: relative;
            }

            .stalk_behide{
                height: auto;
                width: 47vw;
            }

            .stalk_front{
                height: auto;
                width: 84vw;
                bottom: 25.4vw;
            }
        }
    }
    
    .fruitset{
        height: 0;
        .fruit{
            border-radius: 1.6vw;
            z-index: 1;
            position: relative;
            cursor: pointer;
        }
    }
    
    .sky{
        height: 0;
        
        .absolute{
            display: flex;
            flex-direction: column;
            height: 200px;

            img{
                z-index: 1;
                position: relative;
                opacity: 0.9;
                filter: blur(2px);
            }
        }
    }

    .mountain{
        height: 0;
        position: absolute;
        z-index: 0;
        width: 100vw;

        svg{
            position: relative;
            top: 86vw;
            width: 100vw;
            height: auto;
        }
    }

    .fence{
        display: flex;
        align-items: end;

        div{
            position: relative;
            // bottom: 26vw;
            z-index: 1;

            .fencehead{
                width: 5.56vw;
                height: 5.56vw;
                border-radius: 220px 220px 0 0;
                background-color: #812f00;
                border-top: 1px black solid;
                border-left: 1px black solid;
                border-right: 1px black solid;
            }
            .fencebar{
                width: 5.56vw;
                background: linear-gradient(180deg, #812f00 0%, #B06D50 50%); 
                border-left: 1px black solid;
                border-right: 1px black solid;
                border-bottom: 1px black solid;
            }
        }
    }
    .floor{
        width: 100vw;
        height: 22vw;
        background: linear-gradient(180deg, #026600 0%, #04BD00 100%);
    }

    .object-floor{
        position: absolute;
        height: 0;

        *{
            position: relative;
            height: auto;
        }

        .bush-behide{   
            top: 126vw;
            width: 100vw;
            z-index: 1;
        }
        .stone-left{
            width: 18vw;
            top: 108vw;
            z-index: 1;
        }
        .bush-front{
            width: 18vw;
            top: 122.4vw;
            right: 20vw;
            z-index: 3;
        }
        .stone-right{
            width: 20vw;
            left: 44vw;
            top: 124.2vw;
            z-index: 2;
        }
        .parasol{
            width: 80vw;
            left: 0vw;
            top: 55vw;
            z-index: 2;
        }
        .chair{
            width: 18vw;
            right: 56vw;
            top: 76vw;
            z-index: 3;
        }
        .light{
            left: 18vw;
            width: 60vw;
            top: 12vw;
            border-left: 20vw solid transparent;
            border-right: 20vw solid transparent;
            border-bottom: 53vw solid rgba(255, 255, 206, 0.411);
            filter: blur(30px);
            z-index: 1;
        }
    }

    .table{
        height: 0;
        margin: 0;

        *{
            z-index: 2;
        }

        .table1{
            width: 46vw;
            height: 5vw;
            border-left: 6vw solid transparent;
            border-right: 4vw solid transparent;
            border-bottom: 6vw solid #753800;
            
            position: relative;
            left: 30vw;
            bottom: 30vw;
        }
        .table2{
            width: 46vw;
            height: 2vw;
            background-color: #502700;

            position: relative;
            left: 30vw;
            bottom: 30vw;
        }
        .tableleg-f{
            position: relative;
            bottom: 30vw;
            left: 30vw;

            width: 2vw;
            height: 14vw;
            background: linear-gradient(180deg, #502700 0%, #281700 100%);
        }
        .tableleg-b{
            position: relative;
            bottom: 58vw;
            left: 36vw;
            
            width: 2vw;
            height: 6vw;
            background: linear-gradient(180deg, #502700 0%, #281700 100%);
        }
    }
    .ontable{
        display: flex;
        align-items: end;
        height: 0;
        z-index: 3;

        position: relative;
        bottom: 26vw;
        right: 26vw;

        *{
            position: relative;
            height: auto;
        }

        .plant{
            width: 7vw;
            bottom: 2vw;
            left: 1vw;

        }

        .card-data{
            width: 8vw;
            cursor: pointer;
            z-index: 5;
            transition: all 1s;
            animation: glow infinite alternate-reverse 300ms;
            filter: none;
        }
        .card-data:hover{
            filter: drop-shadow(0px 0px 20px rgb(130, 121, 255));
        }
        .notebook{
            top: 1vw;
            width: 24vw;
        }
    }
}

@keyframes glow {
    from {filter: none;}
    to {filter: drop-shadow(0px 0px 10px rgb(255, 253, 116));}
  }